body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav li {
    margin-right: 20px;
}

nav a {
    color: #fff;
    text-decoration: none;
}

.view {
    padding: 20px;
}

.stats-container, .orders-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.stat-card, .order-card {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
    width: 45%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
}

.stat-card:hover, .order-card:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.delete-btn {
    background-color: red;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}
.products-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.product-card {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
    width: 45%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.product-card img {
    max-width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 10px;
}

.product-card button {
    margin: 5px;
    padding: 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px;

}

.product-card .delete-btn {
    background-color: red;
    color: red;
}

.product-card .update-btn {
    background-color: green;
    color: green;
}
.login-view {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f0f0f0;
}

.login-view input {
    margin: 10px;
    padding: 10px;
    width: 200px;
}

.login-view button {
    padding: 10px;
    cursor: pointer;
}

